<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint
        name="camera_joint"
        type="fixed">
        <origin
            xyz="0.1675 0.001898 0"
            rpy="0 0 0" />
        <parent
            link="base_link" />
        <child
            link="camera" />
        <axis
            xyz="0 1 0" />
    </joint>

    <link
        name="camera">
        <inertial>
            <origin
                xyz="0.0031703 0.00029421 0.025157"
                rpy="0 0 0" />
            <mass
                value="1.5023" />
            <inertia
                ixx="0.00057475"
                ixy="2.5949E-07"
                ixz="-9.5243E-06"
                iyy="0.0011223"
                iyz="1.9381E-07"
                izz="0.0011136" />
        </inertial>
        <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                    filename="file://$(find my_robot)/meshes/camera.STL" />
            </geometry>
            <material
                name="">
                <color
                    rgba="0 0 1 1" />
            </material>
        </visual>
        <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                    filename="file://$(find my_robot)/meshes/camera.STL" />
            </geometry>
        </collision>
    </link>

    <gazebo reference="camera">
        <material>Gazebo/Blue</material>
    </gazebo>

    <link name="camera_up"></link>

    <joint name="camera_up_joint" type="fixed">
        <parent link="camera" />
        <child link="camera_up" />
        <origin xyz="0.03 0 0.025" rpy="0 0 0" />
    </joint>

    <link name="camera_link_optical"></link>

    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_up" />
        <child link="camera_link_optical" />
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
    </joint>

    <gazebo reference="camera_up">
        <sensor name="camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>

                <camera_name>camera</camera_name>
                <image_topic_name>image_raw</image_topic_name>
                <camera_info_topic_name>camera_info</camera_info_topic_name>
                <hack_baseline>0.07</hack_baseline>

            </plugin>
        </sensor>
    </gazebo>

</robot>