<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link
        name="radar">
        <inertial>
            <origin
                xyz="0.007076 -1.7934E-13 0.023577"
                rpy="0 0 0" />
            <mass
                value="3.3842" />
            <inertia
                ixx="0.0027252"
                ixy="1.074E-16"
                ixz="-0.00027355"
                iyy="0.0038278"
                iyz="-5.503E-16"
                izz="0.0051245" />
        </inertial>
        <visual>
            <origin
                xyz="0 0 0"
                rpy="1.5708 0 0" />
            <geometry>
                <mesh
                    filename="file://$(find my_robot)/meshes/radar.STL" />
            </geometry>
            <material
                name="">
                <color
                    rgba="1 0.6 0 1" />
            </material>
        </visual>
        <collision>
            <origin
                xyz="0 0 0"
                rpy="1.5708 0 0" />
            <geometry>
                <mesh
                    filename="file://$(find my_robot)/meshes/radar.STL" />
            </geometry>
        </collision>
    </link>

    <gazebo reference="radar">
        <material>Gazebo/Orange</material>
    </gazebo>

    <joint
        name="radar_joint" type="fixed">
        <origin
            xyz="-0.120317723297044 -0.000221245477216206 0.20000000000002"
            rpy="0 0 0" />
        <parent
            link="base_link" />
        <child
            link="radar" />
        <axis
            xyz="0 0 0" />
    </joint>

    <link name="radar_mount" />

    <joint name="radar_offset_joint" type="fixed">
        <origin xyz="0 0 0.025" rpy="0 0 0" />
        <parent link="radar" />
        <child link="radar_mount" />
    </joint>

    <!-- Режим USRR -->
    <gazebo reference="radar_mount">
        <sensor name="radar_sensor" type="ray">
            <pose>0 0 0 0 0 0</pose>
            <visualize>false</visualize>
            <update_rate>20</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <!-- Сектор обзора по азимуту, гр -->
                        <samples>120</samples>
                        <resolution>2</resolution>
                        <min_angle>-1.05</min_angle>
                        <max_angle>1.05</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>6</samples>
                        <!-- Сектор обзора в вертикальной плоскости, гр	20 -->
                        <min_angle>-0.1745</min_angle>
                        <max_angle>0.1745</max_angle>
                    </vertical>
                </scan>
                <range>
                    <!-- Разрешение по дальности, м -->
                    <min>0.2</min>
                    <max>25.0</max>
                    <resolution>0.1</resolution>
                </range>
                <noise>
                    <type>gaussian</type>   <!-- Тип шума (гауссовский/нормальный) -->
                    <mean>0.0</mean>        <!-- Среднее значение шума (смещение) -->
                    <stddev>0.15</stddev>   <!-- Стандартное отклонение (разброс) -->
                </noise>
            </ray>
            <plugin name="radar_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <!-- Изменил namespace и remapping чтобы публиковать в нужный топик -->
                    <namespace>/hd_radar_0</namespace>
                    <remapping>~/out:=points/dynamic</remapping>
                </ros>
                <output_type>sensor_msgs/PointCloud2</output_type>
                <frame_name>radar_mount</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>